.docker-wizard-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.docker-wizard-form {
  width: 100%;
  height: 100%;
}

.docker-wizard-template {
  /* border: 1px solid black; */
  height: 100%;
  overflow: scroll;
}

.template-container {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.docker-command-container {
  display: flex;
  flex-direction: column;
}

.docker-command-grid {
  display: grid;
  grid-template-columns: 20% 80%;
  overflow: hidden;
}

.docker-command {
  padding: 5px;
  border: none;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  width: 90%;
  height: 90%;
}

.docker-command-content {
  padding: 5px;
  border: none;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.framework {
  padding: 2px;
}

.entrypoint-form {
  display: flex;
  flex-direction: column;
}

.docker-wizard-header {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.docker-form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.padded-text {
  padding: 5px;
  text-align: center;
}

.em-dash-container{
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.em-dash-or {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.build-commands-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entrypoint-contianer {
  padding: 10px;
}

.submit-docker-form {
  margin-top: 10px;
}

.julia-dep-input {
  width: 100%;
}

.styled-button {
  background: #27f7d0;
  outline: none;
  padding: 0.5em 2.5em;
  color: #30445f;
  font-size: 0.9em;
  font-weight: 500;
  border: 2px solid #27f7d0;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 0 1rem;
  transition: all 0.3s ease;

  &:hover {
    outline: none;
    background: #30445f;
    //border: 2px solid #30445f;
    color: #ffffff;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }
}

.docker-wizard-style {
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.bottom-left-button {
  position: fixed;
  bottom: 5%;
  left: 0%;
}

.blender-grid {
  display: grid;
  padding: 5px;
  grid-template-columns: 30% 70%;
  & > div {
    padding: 5px;
  }
}

.docker-wizard-volume {
  display: flex;
  flex-direction: row;
  button {
    width: 150px;
  }
  div {
    padding: 5px;
  }
}

.select-framework {
  width: 300px;
}

.frame-range-toggle {

}
