.filter-container {
  display: inline-block;
  border: 1px solid grey;
  padding: 10px 10px;
  position: relative;
}

.slider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 15px;
  label {
    text-align: left;
    position: absolute;
    font-size: 10px;
    color: grey;
    left: 10px;
  }
}

.filter-dropdown {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  border: 1px solid #4a5a73;
  background: white;
  position: absolute;
  top: 41px;
}

.button-holders {
  display: flex;
  flex-direction:row;
  .primary-btn {
    padding: 5px 5px;
  }
  margin-top: auto;
  justify-content: center;
  margin-bottom: 10px
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  width: 100%;
  text-align: center;
  border: 1px solid #4a5a73;
}

.ant-slider-mark {
  span {
    left: 3%;
  }
}
